@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0 auto;
}

/* banner-edit */

header{
    margin-top: 50px;
    background-image: url(https://papers.co/wallpaper/papers.co-az75-apple-wwdc-developer-white-illustration-art-25-wallpaper.jpg);
    height: 700px;
    width: 1920px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    border-radius: 16px;
    margin-bottom: 100px;
}

.banner{
    height: 600px;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

}

.contact{
    
    border: none;
    background: transparent;
    cursor: pointer;
    background-color: #0D1321;
    padding: 20px;
    border-radius: 8px;
    color: aliceblue;
    font-weight: bolder;
    font-size: 20px;
}

.headline{
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 900px;
}

.description{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 200px;
    color: #0D1321;
}

/* poster-edit */

.poster{
    height: 1000px;
    width: 1250px;
    background-color: #f7f8fa;
    border-radius: 8px;
    padding: 80px 100px;
}
.poster-card{
    height: 1300px;
    width: 1200px;
}
#poster-card{
    text-align: center;
    margin-bottom: 48px;
}

.poster1{
    display: flex;
}