*{
    margin: 0 auto;
}
header{
    margin-top: 50px;
    background-image: url(https://papers.co/wallpaper/papers.co-az75-apple-wwdc-developer-white-illustration-art-25-wallpaper.jpg);
    height: 700px;
    width: 1920px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 16px;
}

.banner{
    height: 600px;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

}

.contact{
    margin-top: 110px;
}